[submodule "vim/vimfiles/bundle/nerdcommenter"]
	path = vim/vimfiles/bundle/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
[submodule "vim/vimfiles/bundle/powershell"]
	path = vim/vimfiles/bundle/powershell
	url = git://github.com/jittuu/Windows-PowerShell-Syntax-Plugin.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfiles/bundle/supertab"]
	path = vim/vimfiles/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/vimfiles/bundle/easymotion"]
	path = vim/vimfiles/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vimfiles/bundle/golang"]
	path = vim/vimfiles/bundle/golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "vim/vimfiles/bundle/vim-colors-solarized"]
	path = vim/vimfiles/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vimfiles/bundle/vim-gocode"]
	path = vim/vimfiles/bundle/vim-gocode
	url = git@github.com:Blackrush/vim-gocode.git
[submodule "vim/vimfiles/bundle/ctrlp"]
	path = vim/vimfiles/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
