[submodule "vim/vimfiles/bundle/nerdcommenter"]
	path = vim/vimfiles/bundle/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
[submodule "vim/vimfiles/bundle/powershell"]
	path = vim/vimfiles/bundle/powershell
	url = git://github.com/vim-scripts/Windows-PowerShell-Syntax-Plugin.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfiles/bundle/supertab"]
	path = vim/vimfiles/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/vimfiles/bundle/easymotion"]
	path = vim/vimfiles/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
