[submodule "vim/vimfiles/bundle/vim-colors-solarized"]
	path = vim/vimfiles/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vimfiles/bundle/vim-gocode"]
	path = vim/vimfiles/bundle/vim-gocode
	url = git@github.com:Blackrush/vim-gocode.git
[submodule "vim/vimfiles/bundle/ctrlp"]
	path = vim/vimfiles/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
